{% extends "layout.html" %}

{% block content %}
    <html>
    <head>
        <title>HTML Backgorund Color</title>
    </head>
    <body style="background-color:#D4BAFF;">
    </body>
    </html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <h3>
        This project is about the Music Show Wins in k-pop, I decided to do it on this topic because I think it's very interesting to see how every k-pop idol group got from the start when they had 0-1 wins and now they get 10-20 wins, more or less. They've grown from almost nothing to be as amazing as they are now.
    </h3>
</head>
<body>

</body>
</html>



{% endblock %}