{% extends "layout.html" %}

{% block content %}
    <html>
    <head>
        <title>HTML Backgorund Color</title>
    </head>
    <body style="background-color:#D4BAFF;">
    </body>
    </html>

<div class="jumbotron">
    <h1>My End Year Project 2020 </h1>
    <p>
        This is going to be about Music Show Wins in kpop 
    </p>
</div>
<table>

    <tr>
        <td>

            <h3> (g) - idle </h3>
            <img src="https://pbs.twimg.com/media/DtVsE9jVsAAYUs1.jpg:large" width="400" height="400" />
        </td>
        <td>
            <h3> bts </h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/BTS_at_the_31st_Golden_Disk_Awards.jpg" width="400" height="400" />
        </td>
        <td>
            <h3> Ateez  </h3>
            <img src="https://pbs.twimg.com/media/EPm3XtzUcAAT9J-.jpg" width="400" height="400" />
        </td>

    </tr>

    <tr>

        <td>
            <h3> Teamin</h3>
            <img src="https://6.viki.io/image/64633b1f0d0e4f509b10c05e9c2ea7df.jpeg?s=900x600&e=t" width="400" height="400" />
        </td>
        <td>
            <h3> Weki Meki</h3>
            <img src="https://pbs.twimg.com/media/Dtex5siWoAAncku.jpg" width="400" height="400" />
        </td>
        <td>
            <h3> Chungha </h3>
            <img src="https://vfan-phinf.pstatic.net/20190624_215/1561373659927Fmyld_PNG/0000522337_003_20190619062425388.png?type=e1920" width="400" height="400" />
        </td>
        <td>
            <h3> Red Velvet  </h3>
            <img src="https://66.media.tumblr.com/e52ad1817cd1c494eb7b5b19443da249/tumblr_pjdmu5H15C1sztjdmo1_1280.jpg" width="400" height="400" />
        </td>

    </tr>






    {% endblock %}
