{% extends "layout.html" %}

{% block content %}
    <html>
    <head>
        <title>HTML Backgorund Color</title>
    </head>
    <body style="background-color:#D4BAFF;">
    </body>
    </html>

<div class="jumbotron" style="background-color:#D4BAFF;">
    <h1>My End Year Project 2020 </h1>
    <p>
        This is going to be about Music Show Wins in kpop 
    </p>
</div>
<table>

    <tr>
        <td>

            <h3> (g) - idle </h3>
            <img src="https://pbs.twimg.com/media/DtVsE9jVsAAYUs1.jpg:large" width="400" height="400" />
        </td>
        <td>
            <h3> bts </h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/BTS_at_the_31st_Golden_Disk_Awards.jpg" width="400" height="400" />
        </td>
        <td>
            <h3> Ateez  </h3>
            <img src="https://pbs.twimg.com/media/EPm3XtzUcAAT9J-.jpg" width="400" height="400" />
        </td>

    </tr>

    <tr>

        <td>
            <h3> Teamin</h3>
            <img src="https://6.viki.io/image/64633b1f0d0e4f509b10c05e9c2ea7df.jpeg?s=900x600&e=t" width="400" height="400" />
        </td>
        <td>
            <h3> Weki Meki</h3>
            <img src="https://pbs.twimg.com/media/Dtex5siWoAAncku.jpg" width="400" height="400" />
        </td>
        
        <td>
            <h3> Red Velvet  </h3>
            <img src="https://i.pinimg.com/originals/a4/6e/6d/a46e6d5ac999ff828eb988096d43e961.jpg" width="400" height="400" />
        </td>

    </tr>






    {% endblock %}
