{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<table >

    <tr>
        <td>
            <img src="https://i.pinimg.com/736x/b4/2c/13/b42c139e040acfa02d67530c6d63f88f--dog.jpg" width="400" height="400" />
        </td>
        <td>
            <img src="http://i.imgur.com/uNSoAh8.jpg" width="400" height="400" />
        </td>
        <td>
            <img src="https://i.pinimg.com/originals/9e/f8/36/9ef836f6130a0627629e7e096f52edb9.jpg" width="400" height="400" />
        </td> 
           
    </tr>

    <tr>

        <td>
            <img src="http://s2.favim.com/orig/150929/animals-beautiful-majestic-nature-Favim.com-3375963.jpg   " width="400" height="400" />
        </td>
        <td>
            <img src="http://2.bp.blogspot.com/-bdQm5scTSPo/UIdjk1BXkuI/AAAAAAAAAI0/5395zA7dJBA/s1600/762.jpg" width="400" height="400" />
        </td>
        <td>
            <img src="https://i.pinimg.com/originals/72/fe/a3/72fea360931729ccc375461107b8b14c.jpg" width="400" height="400" />

        </td>   

    </tr>



</table>
{% endblock %}

