﻿{% extends "layout.html" %}
{% block content %}

<h2>{{title}}</h2>

<p>This page will enable the user to input a data field</p>

<form method=post>
    {{ form.csrf }}

    <table>
        <tr>
            <td class="input text"> {{ form.name.label }} </td>
            <td>                    {{ form.name }}       </td>
        </tr>
        <tr>
            <td></td>
            <td class="input submit"> <input type="submit" value="Enter"> </td>
        </tr>
    </table>
</form>

<p><h1>{{reqName}} Combined is : <b>{{name}} </b></h1></p>




<img src={{ chart }} class="img-thumbnail" alt="The Graph is here" height={{height}} width={{ width }}>
                </td>
            </tr>
        </table>
    </div>

</form>


<button data-target="#collapse" data-toggle="collapse" class="btn btn-default">DataSet click here</button>
<div id="collapse" class="collapse">
    {{ raw_data_table | safe}}
</div>

    {% endblock %}